*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
}
#banner{
    background: linear-gradient(#f2f8f7,rgba(43, 34, 34, 0.973)),url(pic7.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
} 
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
    color: black;
    font-size: 2em;
}
.logo img{
    width: 150px;
    height:50px;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px; 
}
.banner-text p{
    font-size: 20px;
    font-style: italic; 
}
@media screen and (max-width: 770px ) {
    .banner-text{
        text-align: center;
        color: #fff;
        padding-top: 180px;
    }
    .banner-text h1{
        font-size: 44px; 
    }
    .banner-text p{
        font-size: 20px;
        font-style: italic; 
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}
#feature{
    width: 100%;
    padding: 70px 0;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color:rgb(109, 93, 5);

}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: rgb(109, 93, 5);
    border: 1px solid rgb(109, 93, 5);

}
.feature-icon .fa-solid{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: rgb(109, 93, 5);
    border: 1px solid rgb(109, 93, 5);
}
feature-text p{
    padding: 0 20px;
    text-align: initial;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(109, 93, 5), #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
@media screen and (max-width: 770px ) {
    .features-img{
        display: none;
    }
    .features{
        flex-basis: 90%;
    }
}
/*--service---*/

#service{
    width: 100%;
    padding: 70px o;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgb(109, 93, 5),#fff);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 14px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}
@media screen and (max-width: 770px ) {
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
    }
}
.contact-us{
    background: #efefef;
}
.comment h1{
    padding-top: 1em;
    padding-left: .5em;
}
.details{
    padding-top: .7em;
    padding-left: .5em;
    text-align: left;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer-left,.footer-right{
    flex-basis: 45% ;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}
.footer-left .fa-solid,.footer-right .fa-solid{
    font-size: 20px;
    color: rgb(109, 93, 5) ;
    margin: 10px;
}
.footer-left .fa-brands,.footer-right .fa-brands{
    font-size: 20px;
    color:  rgb(109, 93, 5);
    margin: 10px;
}
.footer-left a{
    text-decoration: none ;
    color: black;
}
.comment h1{
    text-align: center;
}
.footer-right label{
    padding-right: .5em;
    padding-bottom: .7em;
    font-size: 1.2em;
}
.footer-left{
    padding-left: 5em;
}
.footer-right{
    padding-right: 5em;
} 
  .footer-right input {
    padding: .5em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
.footer-right input[type="submit"] {
    background-color: rgb(109, 93, 5);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 2em;
    display: inline-block;
    padding: .5em 2em;
    width: unset;
    cursor: pointer;
    margin-top: .8em;
  }
@media screen and (max-width: 770px ) {
    .comment h1{
        text-align: center;
    }
    .footer-right label{
        padding-right: .5em;
        padding-bottom: .7em;
        font-size: 1.2em;
    }
    .footer-left{
        padding-left: 2em;
    }
    .footer-right{
        padding-right: 2em;
    } 
      .footer-right input {
        padding: .5em;
        margin-bottom: 1em;
        border-radius: .3em;
        border: 1px solid;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
    .footer-right input[type="submit"] {
        background-color: rgb(109, 93, 5);
        color: white;
        font-weight: bold;
        font-size: 1.3em;
        border: none;
        margin-bottom: 3em;
        border-radius: 2em;
        display: inline-block;
        padding: .5em 2em;
        width: unset;
        cursor: pointer;
        margin-top: .8em;
      }
}
